<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="theme-color" content="#fcfaf5">
    <title>{{ .Site.Title }} | {{ .Site.Params.description }}</title>
    <link rel="preconnect" href="https://blog.xingyexiaohua.xyz">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    <script src="{{ "js/main.js" | relURL }}" defer></script>
  </body>
</html>
